body{
    background-image: url(body背景.png);
}
* {
font-size:12px;
margin:0px;
padding:0px;
}
#nav{border:0px solid #ccc;
    width:1340px;
    height:60;
padding-left:80px;
line-height:27px;
background-image: url(li背景.png);
float:left;
}
#nav a:link,#nav a:visited{
display:block;
width:120px;height:60px;
font-size:20px;
color: #555555;
font-weight:bold;
text-align:center;
text-decoration:none;
background-image: url(li背景.png);
}
#nav a:hover{
color: #fff;
font-weight: bold;
background:#413d3b;
}
#nav li ul li a:hover{
background:#999;color: #272727;
}
#nav li.subMenuDisplay ul{
display:block;display:none;
}
#nav li{
    line-height:60px;
float:left;
list-style:none;
width:120px;
height:60px;
}

#nav p{
    font-size:38px;
    line-height:56px;
    font-weight:bold;
    font-family:'仿宋';
}
#wenzi{border:0px solid #000;
    width:500px;
    height:60px;
    margin-right:3px;
    float:right;
}
#text{
    font-size:50px;
    width:600px;
    height:60px;background-image: url(li背景.png);
}