/*
* @Author: Marte
* @Date:   2017-04-25 14:46:53
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-26 22:21:43
*/
.bg{text-align:center;align-items: center;}
body{font-family:Arial;color:#686868;}
p{font-size:12px;line-height:2em}
h1{font-size: 20px;font-family: "微软雅黑";color:#686868;}
h2{font-family:Arial;font-size:12px;color:#a9a8a8;}
.aa{color:#22a3d3;}
a{text-decoration: none;color:#727272; }
a:hover{text-decoration: underline;}
body{background-image: url("bg.gif");background-repeat: no-repeat;}
.dd{font-size:20px}
